<% shipment.manifest.each do |item| %>
  <tr class="stock-item" data-item-quantity="<%= item.quantity %>">
    <td class="item-image image text-center" width="48">
      <%= mini_image(item.variant) %>
    </td>
    <td class="item-name">
      <%= link_to item.variant.product.try(:name), edit_admin_product_path(item.variant.product) %><br/>
      <% if !item.variant.option_values.empty? %>
        <strong><%= variant_options(item.variant) %></strong><br/>
      <% end %>
      <%= item.variant.sku %> <br />
      <% if item.variant.part? && item.line_item %>
        <i><%= Spree.t(:part_of_bundle, sku: item.variant.product.sku) %></i>
      <% end %>
    </td>
    <td class="item-price align-center">
      <% if item.variant.part? %>
        ---
      <% else %>
        <%= item.line_item.single_money.to_html if item.line_item %>
      <% end %>
    </td>
    <td class="item-qty-show align-center">
      <% item.states.each do |state, count| %>
        <%= count %> x <%= state.humanize.downcase %>
      <% end %>
    </td>
    <% if(!shipment.ready? && !shipment.shipped? && !item.variant.part? && can?(:update, item.line_item)) %>
      <td class="item-qty-edit is-hidden">
        <%= number_field_tag :quantity, item.quantity, min: 0, class: "line_item_quantity form-control", size: 5 %>
      </td>
    <% end %>
    <td class="item-total align-center">
      <% if item.variant.part? %>
        ---
      <% else %>
        <%= line_item_shipment_price(item.line_item, item.quantity) if item.line_item %>
      <% end %>
    </td>
    <td class="cart-item-delete actions text-center" data-hook="cart_item_delete" width="130">
      <% if(!shipment.ready? && !shipment.shipped? && !item.variant.part? && can?(:update, item.line_item)) %>
        <%= link_to_with_icon 'arrow-left', Spree.t('actions.cancel'), "#", class: 'cancel-item btn btn-default btn-sm', data: { action: 'cancel' }, title: Spree.t('actions.cancel'), style: 'display: none', no_text: true %>
        <%= link_to_with_icon 'pencil', Spree.t('actions.edit'), "#", class: 'edit-item btn btn-default btn-sm', title: Spree.t('actions.edit'), no_text: true %>
        <%= link_to_with_icon 'ok', Spree.t('actions.save'), "#", class: 'save-item btn btn-success btn-sm', data: {'shipment-number' => shipment.number, 'variant-id' => item.variant.id, action: 'save'}, title: Spree.t('actions.save'), style: 'display: none', no_text: true %>
        <%= link_to_with_icon 'split', Spree.t('split'), "#", class: 'split-item btn btn-primary btn-sm', data: {action: 'split', 'variant-id' => item.variant.id}, title: Spree.t('split'), no_text: true %>
        <%= link_to_with_icon 'delete', Spree.t('delete'), "#", class: 'delete-item btn btn-danger btn-sm', data: { 'shipment-number' => shipment.number, 'variant-id' => item.variant.id, action: 'remove'}, title: Spree.t('delete'), no_text: true %>
      <% end %>
    </td>
  </tr>
<% end %>
