<div class="form-group">
  <div class="checkbox">
    <%= label_tag :product_can_be_part do %>
      <%= f.check_box(:can_be_part) %>
      <%= Spree.t(:can_be_part) %>
    <% end %>
  </div>
</div>

<div class="form-group">
  <div class="checkbox">
    <%= label_tag :product_individual_sale do %>
      <%= f.check_box(:individual_sale) %>
      <%= Spree.t(:individual_sale) %>
    <% end %>
  </div>
</div>

<% if @product.assembly? %>
  <% content_for :head do %>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
        $("input#product_can_be_part").attr('disabled',true);
      });
    </script>
  <% end %>
<% end %>
